/*
body {
    background-color: #DAFFA1;
}

.game {
    margin: 20px;
    width: 1000px;
    border: 0px solid black;
    border-radius: 10px;
    background-color: #FFFFBD;
}

.resultZome,
.gameZone,
.controlZone {
    display: inline-block;
    vertical-align: top;
    
    width: 33%;
    height: 10px;
    padding: 0px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #FFFFBD;
}


.elemnt {
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #FFFFBD;
}*/