/*    
body {
    background-color: #DAFFA1;
}

.game {
    margin: 20px;
    width: 1000px;
    border: 0px solid black;
    border-radius: 10px;
    background-color: #FFFFBD;
}

.resultZome,
.gameZone,
.controlZone {
    display: inline-block;
    vertical-align: top;
    
    width: 30%;
    height: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #FFFFBD;
}


.elemnt {
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #FFFFBD;
}



#move {
    align-items: center;
    padding: 12px 14px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Fresca', sans-serif;
    background-color: #FFFFFF;
    opacity: 0.8;
    color: hsl(216, 100%, 60%);
    transition: 0.5s;
}

#move:hover {
    background-color: hsla(216, 100%, 60%, 0.8);
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
}*/



/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.game {
    margin: 20px;
    width: 837px;
    height: 325px;
    border: 2px solid black;
    border-radius: 23px;
    padding: 10px;  
}
.resultZome,
.controlZone {
    display: inline-block;
    vertical-align: top;
    width: 232px;
    height: 311px;
    border: 2px solid black;
    border-radius: 11px;
    padding: 5px;
}


.gameZone {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    width: 311px;
    border: 2px solid black;
    border-radius: 11px;
}

.elemntResult {
    margin: 0px;
    width: 208px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}*/

