body {
    background: #d8d8fa;
    font-family: Arial;
    font-size: 20px;
    color: #FFFFFF;
}

.gameTable {
    display: table;
    margin: auto;
    border-spacing: 5px;
}

.row {
    display: flex;
}



.resultCell {
    display: table-cell;
    border: 2px solid #d8d8fa;
    border-radius: 10px;
    background: #5350e6;
    height: 70px;
    width: 180px;
    padding-left: 10px;
    vertical-align: middle;

}

.gameCell {
    border: 2px solid #5350e6;
    border-radius: 5px;
    background: #5350e6;
    border-spacing: 0px;
}

.matrixCell {
    display: table-cell;
    border: 2px solid #5350e6;
    border-radius: 5px;
    background: #d8daf3;
    height: 70px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}

.controlButton {
    display: table-cell;
    border: 2px solid #d8d8fa;
    border-radius: 10px;
    background: #5350e6;
    height: 74px;
    width: 180px;
    font-family: Arial;
    font-size: 20px;
    color: #FFFFFF;
}

.controlButton:hover {
    background: #2f2cdf;
}

.controlButton:active {
    position: relative;
    top: 2px;
}